fact_checking_output.txt
credentials.json
.env
test-data
cache_dir
.DS_Store
package-lock.json
node_modules
.DS_Store
detecting-scientific-claim
test.js
claims/newsFeedDatabase.json
claims/newsFeedsRSS.json
